main, .table-content {
  display: flex;
}

.area-fixed-rows {
  overflow: hidden;
  z-index: 10;
  height: 100%;
}

.area-table-content {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  position: absolute;
}

.th, .area-fixed-rows .tr {
  background-color: #4caf50;
  color: white;
}

.td, .th {
  border: 1px solid #ddd;
  padding: 8px;
}

.td {
  display: flex;
  align-items: center;
}

.th-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.th input, .th .p-multiselect {
  display: block;
  width: 100%;
}

.th-container .p-selectbutton {
  width: 100%;
  display: flex;
}

.th-container .p-selectbutton .p-button {
  flex-grow: 1;
}

.area-fixed-rows .table-header {
  z-index: 1;
  position: absolute;
}

.table .pi-trash:before {
  content: '';
}

.table-header.table-value, .tr-values {
  display: flex;
}

.tr.selected-row .pi-trash:before {
  content: '\e93d';
  vertical-align: sub;
}

.hide {
  display: none;
}

.pi.pi-filter, .pi-sort-amount-down, .pi-sort-amount-down-alt {
  color: aqua;
}

.number {
  justify-content: right;
}

.boolean {
  justify-content: center;
}

.scroll-area .tr:nth-child(even) {
  background-color: #f2f2f2;
}

.scroll-area .tr:nth-child(odd) {
  background-color: white;
}

.table-values .tr:hover {
  background-color: #ddd;
}

.tr.selected-row, .scroll-area .tr.selected-row {
  background-color: aqua;
  color: black;
}

.scroll-area {
  width: 100%;
  height: 100%;
  overflow: auto;
}

ul.p-multiselect-items li.p-multiselect-item div.p-checkbox.p-component {
  display: none;
}